* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    color: #22242C;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bg-gradient {
    position: absolute;
    top: 0;
    width: 1200px;
    height: 480px;
    max-width: 100%;
}

header {
    padding: 20px;
    max-width: 760px;
    position: relative;
    width: 100%;
}


main{
    max-width: 760px;
    padding: 20px;
}

section {
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
    padding: 12px;
    border-radius: 4px;
    background: whitesmoke;
    width: 100%;
}

#signature{
    width: 60px;
    transform: rotate(6deg);
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #0A0A0D;
}

.profile-image {
   display: flex;
   align-items: center;
   margin-bottom: 12px;
}

.profile-image img {
    border-radius: 50%;
    width: 100px;
    margin-right: 16px;
}

.profile-text h1 {
    font-size: 2rem;
    margin-bottom: 12px;
}

.profile-text p {
    margin-bottom: 10px;
    font-size: 20px;
}

.image-carousel {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-top: 28px;
    display: flex;
}

/* Wrapper that contains all the images */
.carousel-wrapper {
    flex: 0 0 auto;
    min-width: 100%;
    animation: scroll 30s linear infinite;
}

/* Individual images */
.carousel-wrapper img {
    height: 22px;
    width: auto;
    margin-right: 32px;
    opacity: 0.3;
    flex-shrink: 0; 
}

/* Animation */
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.featured-projects {
    padding: 40px 0;
}

.featured-projects h2 {
    font-size: 14px;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: #4A576FB2;
    opacity: 0.7;
    letter-spacing: 3px;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 36px;
}

.project {
    padding: 12px;
    margin: -12px;
    border-radius: 8px;
    background: transparent; 
    position: relative; 
    overflow: hidden; 
    cursor: pointer;
}

.project::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(258.32deg,#FBFBFD 0%,#E795B7 32.71%,#935893 65.43%,#224D88 98.14%);
    opacity: 0; 
    transition: opacity 0.5s ease; 
    border-radius: inherit; 
    z-index: -1; 
}

.project:hover::before {
    opacity: 0.1;
}

.project img {
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
}

.project h3 {
    font-size: 16px;
    color: #22242C;
}

.project p {
    font-size: 15px;
    color: #22242C;
    opacity: 0.6;
}

.recent-stories {
    padding: 40px 0;
}

.recent-stories h2 {
    font-size: 14px;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: #4A576FB2;
    opacity: 0.7;
    letter-spacing: 3px;
}

.story {
  margin-bottom: 48px;
}

.story h3 {
    font-size: 18px;
    font-weight: 600;
}

.story .description {
  font-size: 16px;
  color: #808080;
  font-weight: 300;
}

.story .date {
    font-size: 13px;
    font-weight: 400;
    color: #22242C;
    opacity: 0.2;
    margin-top: 4px;
}

.say-hi {
   background: linear-gradient(90deg,rgba(255,233,244,0.4) 0%,rgba(234,243,255,0.7) 100%);
   border-radius: 16px;
   padding: 40px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-right: 20px;
}

.say-hi img {
    width: 40%;
    margin:  -40px 0;
}

.say-hi h2 {
    font-size: 48px;
    margin-bottom: 10px;
    background-size: 100%;
    background-repeat: repeat;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: #566CEC;
    background-image: linear-gradient(90.42deg,#4AB1F1 0.58%,#566CEC 37.22%,#D749AF 73.87%,#FF7C51 112.26%);
}

.say-hi p {
    font-size: 20px;
    color: #22242C;
}

.contact a {
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

footer {
    max-width: 760px;
    padding: 30px;
    text-align: center;
    color: #4A576FB2;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer #list-items {
    display: flex;
}

footer #list-items .link-items {
    margin: 0 8px;
    font-size: 12px;
    margin-top: 8px;
    opacity: 0.7;
}

.bg-gradient-bottom{
    position: absolute;
    bottom: 0;
    width: 1200px;
    height: 480px;
    max-width: 100%;
    transform: rotate(180deg);
}

